                                                               /*tabs*/
.nav-link{
      min-width: 12vw;
        text-align: center;
        color: #000000;
}
.nav-tabs .nav-link.active {
    background-color: #E63946;
    color: hsl(0, 0%, 100%);
}



.nav-tabs .nav-link:hover {
    color: #fff;
    background-color: #E63946; /* Hover effect */

}
                                                           /*CUSTOM */

.shadow-top {
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.shadow-bottom {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/*@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        position: absolute;
        z-index: 1000;
        transition: all 0.3s ease-in-out;
    }
    #toggleSidebar.active + #sidebar {
        transform: translateX(0);
    }
}*/