      
      /*aimen css*/
      /*tabs*/
.nav-link{
      min-width: 12vw;
        text-align: center;
        color: #000000;
}
.nav-tabs .nav-link.active
{
    background-color: #E63946;
    color: hsl(0, 0%, 100%);
}


.nav-tabs .nav-link:not(.active):hover,
.nav-tabs .nav-link:not(.active):focus
 {
    color: inherit !important;
}
                                                           /*CUSTOM */

.shadow-top {
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.shadow-bottom {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


/*@media (max-width: 768px) {
    .main {
        margin-left: 60px !important; 
    }

}*/

/* Default sidebar styles */
#sidebar {
    width: 215px;
}

/* Collapse sidebar on smaller viewports */
@media (max-width: 768px) {
    #sidebar {
        width: 60px;
    }
    #sidebarLogo, #sidebar-title, .sidebar-text {
        display: none;
    }
}

/* When the sidebar is expanded on small viewports */
#sidebar.expanded {
    width: 215px;
}


#main-content {
    transition: margin-left 0.3s; /* Smooth transition for margin */
}




/*Cuurency sign*/
.currSign:before {
    content: '$';
}

/*Font size responsive for boxes"*/
.sm-box-title {
    font-size: clamp(16px, 1.5vw, 1.1rem);  
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sm-box-num {
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    text-align: center;
}

/*REVENUE AND EXPENSE GRAPH*/
.chart-container {
position: relative;
        margin: auto;

    height: 40vh;
    width: 35vw;
}
@media (max-width: 1199px) {
    .chart-container {
        width: 100%; 
    }
}

/*Table formatting*/
.table1 table {
    overflow: hidden;
    border-radius: 16px;
    width: 100%;
}

.table1 table thead th {
    background-color:#274772 ;
    color: #fff;
    font-size: 0.85rem;

    padding: 10px;
}


.table1 table tbody td {
    font-size: 0.96rem;
    padding: 10px;
    white-space: nowrap;

}

.table1 .inc {
    background-color: rgba(75, 199, 105, 0.25);
    color: #2caa4b;
}

.table1 .dec {
    background-color: rgba(230, 57, 70, 0.25);
    color: #E63946;
}

.table .pending{
    background-color: rgba(246, 173, 85, 0.25);
    color:  #d6831e;
}

/*viewmore button*/
.view_more_btn{
    font-weight: 600;
    color:#E63946;
    border-color: #E63946;
}
.view_more_btn:hover{
 background-color:#E63946;
 border-color: #E63946;

}



/*aimen end*/




  /* Ruquiya CSS Start */

/* General Styles */
aside a:hover, 
.dropdown-btn:hover {
    background-color: #457B9D; 
    color: #F1FAEE; 
}

aside a .dropdown-btn, 
.dropdown-container a {
    
    transition: background-color 0.3s, color 0.3s;
}


/*#sidebar {
    transition: width 0.3s ease;
}*/

.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
    margin-top: 30px;
}

.card-container, 
.demand-list, 
.dashboard-container .card {
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow:  0 0 15px rgba(0, 0, 0, 0.2); 
    border: none; 
    outline: none; 
    text-align: center;
    flex-grow: 1;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: calc(50% - 0.75rem);
    max-width: calc(50% - 0.75rem);
    margin-bottom: 1rem;
}

.card-container .card p {
    font-size: 1.3rem; 
}


@media (max-width: 768px) {
    .dashboard-container .card {
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
    }

    .button-container {
        justify-content: flex-start;
    }
}
canvas {
    width: 100% !important;
    max-width: 600px;
    height: 100% !important;
}

.line-chart, .pie-chart, .controls, .property-list {
    flex-basis: 100%;
}

.line-chart canvas, .pie-chart canvas {
    max-width: 95%;
    max-height: 80%;
    margin: 0 auto;
}


/* Rate Container */
.rate-display {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.currency-symbol {
    font-size: 2rem;
    color: #f6ad55;
    margin-right: 0.5rem;
}

.rate-input {
    font-size: 2rem;
    text-align: center;
    border: none;
    background: transparent;
    color: #333;
    width: 100px;
}

.rate-input:focus {
    outline: none;
}

/* Centering and styling the checkboxes */
.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.checkbox-container label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}
/* Button Container */
.button-container {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.button-container .status-button,
.button-container .rate-button {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    color: white;
    background-color: #f6ad55;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container .status-button:hover,
.button-container .rate-button:hover {
    background-color: #dd9641;
}

/*Property list*/
.property-list table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
}

.property-list th, 
.property-list td {
    padding: 9px;
    text-align: left;
    vertical-align: middle;
    border-bottom: 2px solid #f0f0f0;
    font-size: 0.875rem;
    transition: background-color 0.3s ease;
}

.property-list th {
    background-color: #274772;
    color: #fff;
}

.property-list tbody tr:hover {
    background-color: #f5f5f5; 
}

/* Status Select */
.status-select ,.status-badge {
    display: inline-block;
    padding: 5px 0;
    font-size: 0.875rem;
    font-weight: bold;
    border-radius: 8px;
    color: white;
    text-align: center;
    border: none;
    appearance: none;
    width: 100px;
    background-color: #f6ad55;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.status-select option {
    color: white;
}

.status-select option[value="expired"], .status-badge.expired {
    background-color: #f56565;
}

.status-select option[value="active"],.status-badge.active {
    background-color: #48bb78;
}

.status-select option[value="soon-expiring"],.status-badge.soon-expiring {
    background-color: #f6ad55;
}

/* Modal Styles */
.modal-title {
    font-size: 1.75rem;
    font-weight: 600;
    margin-right: auto;
}

.close.no-border {
    font-size: 1.5rem;
    color: #fff;
    background: none;
    border: none;
    margin-left: 10px;
    opacity: 0.9;
}

.close.no-border:hover {
    opacity: 1;
}

.modal-content {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    max-height: calc(100vh - 3.5rem);
}

.modal-dialog {
    max-width: 500px;
}

/* Form Controls */
.form-control {
    border-radius: 8px;
    border: 2px solid #ced4da;
    font-size: 1.1rem;
    transition: border-color 0.3s ease-in-out;
}

.form-control:focus {
    border-color: #274772;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.25);
}

/* Submit Button */
.btn-primary {
    background-color: #E63946;
    border-color: #E63946;
    font-size: 1.2rem;
    padding: 0.75rem;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #E63946;
    border-color: #E63946;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-lg {
    font-size: 1.25rem;
}

table tbody tr:hover {
    background-color: #f5f5f5; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

/* Table Formatting */
.table-format .table tbody tr:hover {
    background-color: #f5f5f5;
}

.table-format .table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px; 
    overflow: hidden;
}

.table-format .table th, 
.table-format .table td {
    padding: 12px;
    text-align: left;
    vertical-align: middle;
    font-size: 0.875rem;
    transition: background-color 0.3s ease;
}

.table-format .table thead th {
    background-color: #274772;
    color: #fff;
    font-weight: bold;
}

.table-format .table tbody tr {
    background-color: #fff;
    border-bottom: 2px solid #f0f0f0;
}

.table-format .table tbody td {
    font-size: 14px;
    color: #333;
}

/* Star Styling */
.stars {
    font-size: 18px;
    color: #FFD700;
    letter-spacing: 2px;
}

.stars.four-stars {
    color: #FF8C00;
}

.stars.five-stars {
    color: #48bb78;
}

.stars.three-stars {
    color: #f56565;
}

/* Demand List */
.demand-list table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px; 
    overflow: hidden;
}

.demand-list th, 
.demand-list td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 2px solid #f0f0f0;
    transition: background-color 0.3s ease;
}

.demand-list th {
    background-color: #274772;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.875rem;
}

.demand-list td {
    font-size: 0.875rem;
}
/* Ruquiya CSS End */


